<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur distinctio vel quo asperiores quam. Sapiente quas dolore facere, accusantium minus quibusdam quos doloribus aperiam dolor eum, illum odit reiciendis debitis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente ipsum, in eum iste facere voluptatibus quaerat consectetur soluta libero pariatur veritatis dignissimos mollitia? Quis obcaecati aspernatur accusantium sapiente earum neque.</p>

<%- include("footer") -%>